.a
{
    background-color: rgba(198, 4, 4, 0.858);
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
    vertical-align: top;
}
.a:hover 
{
     opacity: 0.7;

}
.a:active
{
    opacity: 0.5;
}
.b
{
    background-color: white;
    color: rgb(5, 113, 245);
    border-color: rgb(5, 113, 245) ;
    border-style: solid;
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius:2px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.2s, color 0.2s;
    vertical-align: top; 

}
.b:hover
{
    background-color:rgb(5, 113, 245);
    color: white;
}
.b:active
{
    opacity: 0.6;
}
.c
{
    background-color: rgb(1, 113, 245);
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 15px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
   transition: box-shadow 0.2s;
   vertical-align: top;
}
.c:hover
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.d
{
    background-color: white;
    color: rgb(5, 113, 245);
    border-color: rgb(5, 113, 245) ;
    border-style: solid;
    border-width: 1px;
    border-radius:2px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.2s, color 0.2s; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: top;
}
.d:hover
{
    background-color:rgb(5, 113, 245);
    color: white;
}
.d:active
{
    opacity: 0.6;
}
.e
{
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    transition: padding-left 0.2s, padding-right 0.2s, padding-top 0.2s, padding-bottom 0.2s, font-size 0.2s, opacity 0.2s;
}
.e:hover
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    opacity: 0.7;
}